{% extends 'base.html.twig' %}

{% block body %}
<div class ="container mt-5">
<h1 class="text-center">Ajouter un article</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="mt-5 btn btn-outline-dark" type="submit" value="Envoyer">
{{ form_end(form) }}
</div>
{% endblock %}